*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFFEFC;
  text-align: center;
}

#logo{
  background-color: #AD9C89;
  color: #FFFEFC;
  font-size:2rem;
  padding: 1rem;
}

#ideia{
  display: inline-block;
  background-color: #fbeee0;
  margin: 1rem;
  padding: 2rem;
  border: 1px solid #fbeee0;
  border-radius: 1rem;
  color: #422800;
}

#caixa-avaliação{
  background-color: #fbeee0;
  color:#422800;
  padding: 0.50rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
  #caixa-avaliação>p{
    font-weight: 600;
    font-size: 18px;
  }
  #caixa-avaliação>div{
    display: flex;
    flex-flow: row-reverse;
  }
  .estrelas{
    display: inline-block;
    all: unset;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  .estrelas::before{
    display: inline-block;
    font-size: 2.5rem;
    content: "\2606";
  }
  .estrelas:checked::before, .estrelas:checked ~ .estrelas::before{
    content: "\2605";
  }

.botão-gerador {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 5px 5px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
  .botão-gerador:hover {
    background-color: #fff5ec;
    color: #976f34;
  }
  .botão-gerador:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
    transition: 0.02s;
  }


#lista-top-10{
  display: inline-block;
  width: 90%;
  margin: 2rem auto;
  background-color:#AD9C89;
  color: #FFFEFC;
  padding: 1rem;
  border-radius:0.5rem 4rem;
  text-align: left;
}
  .ideias-top-10{
    
    display: flex;
    justify-content: space-evenly;
  }
  .ideias-top-10-desc{
    display: flex;
    justify-content: space-around;
  }
  .conteudo{
    padding-bottom:0.3rem;
    width: 50%;
    overflow: auto;
  }